.frame {
    border-radius: 50%;
    height: 500px;
    width: 500px;
    position: relative;
}
.hand {
    position: absolute;
    background-color: black;
    border-radius: 10px;
    opacity: .75;
    transform-origin: center center;
    background: linear-gradient(to bottom, black 50%, transparent 0%);
}
.hour {
    height: 250px;
    width: 2.75%;
    z-index: 1;
}
.minute {
    height: 300px;
    width: 1.75%;
    z-index: 2;
}
.second {
    height: 375px;
    width: .75%;
    z-index: 3;
}
.dot {
    z-index: 4;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background: linear-gradient(0deg, transparent 0%, #FFFFFF80 20%, #ffdf0080 50%, #FFFFFF80 80%, transparent 100%);
    background-color: #FFDD00;
}
.number {
    position: absolute;
    font-size: 40px;
    font-weight: bold;
    color: black;
}
.number.number-12 {
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}
.number.number-3 {
    right: 25px;
    top: 50%;
    transform: translateY(-50%);
}
.number.number-6 {
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.number.number-9 {
    left: 25px;
    top: 50%;
    transform: translateY(-50%);
}
.number.number-1 {
    top: 0;
    left: 50%;
    transform: translateX(-50%) rotate(-30deg);
    transform-origin: center;
}
.number.number-4 {
    right: 25px;
    top: 50%;
    transform: translateY(-50%) rotate(-30deg);
}
.number.number-7 {
    bottom: 0;
    left: 50%;
    transform: translateX(-50%) rotate(-30deg);
}
.number.number-10 {
    left: 25px;
    top: 50%;
    transform: translateY(-50%) rotate(-30deg);
}
.number.number-2 {
    top: 0;
    left: 50%;
    transform: translateX(-50%) rotate(-60deg);
}
.number.number-5 {
    right: 25px;
    top: 50%;
    transform: translateY(-50%) rotate(-60deg);
}
.number.number-8 {
    bottom: 0;
    left: 50%;
    transform: translateX(-50%) rotate(-60deg);
}
.number.number-11 {
    left: 25px;
    top: 50%;
    transform: translateY(-50%) rotate(-60deg);
}
.numbers-a {
    height: 440px;
    width: 440px;
}
.numbers-b {
    transform: rotate(30deg);
    height: 440px;
    width: 440px;
}
.numbers-c {
    transform: rotate(60deg);
    height: 440px;
    width: 440px;
}